
@model BreedFormModel

@{
    ViewData["Title"] = "Edit Breed";
}

<form method="post">
    <br>
    <div class="form-group">
        <label class="text-body">Edit breed:</label>
        <input asp-for="NewBreedName" class="form-control" placeholder="Give me new breed">
        <span asp-validation-for="NewBreedName" class="small text-danger"></span>
    </div>
    <input class="btn btn-primary float-right" type="submit" value="Save" />
</form>