
@model AllBreedsViewModel 

@{ 
    ViewData["Title"] = "View All Breeds";
}

<form method="post">

    <ul class="list-group">
            @foreach (var breed in Model.AllBreedsList)
            {
                <li class="list-group-item">@breed.Name</li>
            }
        </ul>

    <div class="form-group">
        <label asp-for="NewBreedName"></label>
        <input asp-for="NewBreedName" class="form-control" placeholder="Give me new breed">
    </div>
    <input class="btn btn-primary float-right" type="submit" value="Save" />
</form>