
@model IEnumerable<ProcedureViewModel>

@{
    ViewData["Title"] = "All Procedures";
}

<form>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <label>Date</label>
                </th>
                <th scope="col">
                    <label>Description</label>
                </th>
                <th scope="col">
                    <label>Doctor</label>
                </th>
                <th scope="col">
                    <label>Animal</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var procedure in Model)
            {
            <tr>
                <td>@procedure.CreatedOn</td>
                <td>@procedure.Description</td>
                <td>@procedure.DoctorName</td>
                <td>@procedure.AnimalName</td>
            </tr>
            }
        </tbody>
    </table>
    <br>
</form>