@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;

    if (User.IsInRole("Administrator"))
    {
        <div class="text-center">
            <h1 class="display-4">You are registered as administrator.</h1>
        </div>
    }


    else if (false) //doctor
    {
        <div class="text-center">
            <h1 class="display-4">You are registered as doctor.</h1>
        </div>
    }

    else if (false) //owner
    {
        <div class="text-center">
            <h1 class="display-4">You are registered as owner.</h1>
        </div>
    }

    else
    {
        <br>
        <div class="text-center">
            <a class="text-body">You have not yet registered as Doctor or Owner. You must choose your destiny!</a>
            <br>
            <br>
            <a class="btn btn-primary" asp-area="" asp-controller="Doctor" asp-action="Become">Register as Doctor</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Owner" asp-action="Become">Register as Owner</a>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">You are not logged in.</h1>
    </div>
}
