
@model IEnumerable<ClinicViewModel>

@{
    ViewData["Title"] = "All Clinics";
}

<form>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <label>Clinic Name</label>
                </th>
                <th scope="col">
                    <label>Clinic Phone Number</label>
                </th>
                <th scope="col">
                    <label>Clinic Details</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clinic in Model)
            {
                <tr>
                    <td>@clinic.Name</td>
                    <td>@clinic.PhoneNumber</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Clinic" asp-action="Details" asp-route-id="@clinic.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" asp-area="" asp-controller="Clinic" asp-action="Add">Add New Clinic</a>
    </div>
</form>